/* css document */

body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select {
	padding: 0;margin: 0;font-family: arial;
}
li {
	list-style: none;
}
img {
	border: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body {
	background:#fff url(../image/body_bg.png) repeat-x;
}

#top { width: 960px;height: 30px;margin: 0 auto;
}

.top_memu {
	float: left;
}
.top_memu li {
	float: left;
	background: url(../image/top_icon.png) no-repeat right 14px;
	font-size: 13px;
	line-height: 30px;
	padding-right: 18px;
	margin-right: 15px;
}
.top_memu a {
	color: #c0c0c0;
}
.top_memu a:hover {
	color: #fff;
}
.top_memu .no_dot {
	background: none;
}

.top_bar {
	float: right;
}
.top_bar li {
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
}
.top_bar a {
	color: #fff;
}
.top_bar .phone {
	background: url(../image/top_icon.png) no-repeat 8px -16px;
	padding: 0 38px;
}
.top_bar .help {
	background: url(../image/top_icon.png) no-repeat 0 -46px;
	padding: 0 38px;
}
.top_bar .space {
	margin-right: 12px;
}


#header {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	background: url(../image/header_bg.png) no-repeat;
}
#shopping {
	width: 260px;
	height: 100px;
	background: url(../image/shopping_bg.png) no-repeat;
	position: relative;
}
#shopping p {
	color: #f7f7f7;
	font-size: 20px;
	font-family: arial;
	padding: 30px 0 0 84px;
}
#shopping a {
	display: block;
	width: 114px;
	height: 23px;
	background: url(../image/shopping_btn.png) no-repeat;
	position: absolute;
	top: 63px;
	left: 104px;
	font-size: 15px;
	font-weight: bold;
	color: #ffc200;
	text-align: center;
	line-height: 23px;
}
#shopping a:hover {
	color: #fff;
}

#header h1 {
	width: 238px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -119px;
}


#header .search {
	top: 34px;
	right: 0;
}
.search {
	width: 292px;
	height: 31px;
	background: url(../image/search_bg.png) no-repeat;
	position: absolute;
}
.search .text {
	width: 230px;
	height: 30px;
	background: none;
	border: none;
	font-size: 13px;
	color: #666;
	outline: none;
	position: absolute;
	top: 0;
	left: 20px;
}
.search .btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 30px;
	background: none;border: none;
}


#nav {
	height: 38px;
	width: 960px;
	padding-top: 8px;
	margin: 0 auto;
}
#nav li {
	float: left;
	height: 28px;
	margin: 2px;
}
#nav a {
	float: left;
	height: 28px;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
	color: #fff;
	line-height: 28px;
}
#nav strong {
	float: left;
	height: 28px;
	font-weight: normal;
}
#nav span {
	float: left;
	height: 28px;
	padding: 0 16px;
}

#nav a:hover,#nav .active {
	background: url(../image/nav_bg.png) repeat-x 0 -56px;
}
#nav a:hover strong,#nav .active strong {
	background: url(../image/nav_bg.png) no-repeat;
}
#nav a:hover span,#nav .active span {
	background: url(../image/nav_bg.png) no-repeat right -28px;
}


#content {
	width: 1000px;
	margin: 24px auto 0;
	background: url(../image/content_bg.png) repeat-y -1000px 0;
}
#content_top {
	width: 1000px;
	background: url(../image/content_bg.png) no-repeat;
}
#content_bottom {
	width: 1000px;
	background: url(../image/content_bg.png) no-repeat -2000px bottom;
	padding-top: 10px;
}


#ad {
	width: 940px;
	height: 300px;
	position: relative;
	margin: 0 auto;
}
#ad ul,#ad li,#ad h2,#ad p {
	position: absolute;
}
#ad ul {
	top: 0;
	left: 0;
	z-index: 1;
}
#ad li {
	top: 0;
	left: 0;
}
#ad h2 {
	left: 0;
	bottom: 8px;
	z-index: 3;
	width: 268px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #ffc600;
}
#ad p {
	left: 268px;
	width: 630px;
	bottom: 7px;
	z-index: 3;
	color: #fcc;
	font-size: 13px;
	line-height: 16px;
}
#ad .bg {
	width: 940px;
	height: 52px;
	background: #000;
	filter: alpha(opacity:80);
	opacity: 0.8;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}


#main {
	width: 942px;
	margin: 0 auto;
	padding-top: 30px;
}
#side {
	width: 210px;
	float: left;
}
#wrap {
	width: 706px;
	float: right;
}

.clear {
	zoom:1;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}


.module_memu {
	margin-bottom: 12px;
}
.module_memu h2 {
	height: 29px;
	background: url(../image/module_memu_bg.gif) repeat-x 0 -58px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	line-height: 28px;
	text-align: center;
	margin-bottom: 1px;
}
.module_memu h2 strong {
	height: 29px;
	display: block;
	background: url(../image/module_memu_bg.gif) no-repeat;
}
.module_memu h2 span {
	height: 29px;
	display: block;
	background: url(../image/module_memu_bg.gif) no-repeat right -29px;
}

.list {
	background: url(../image/list_bg.png) repeat-y;
}
.list ul {
	background: url(../image/list_bg.png) no-repeat -210px bottom;
	padding: 18px 8px 15px;
}
.list li {}
.list a {
	display: block;
	height: 27px;
	font-size: 12px;
	font-weight: bold;
	line-height: 27px;
	border-bottom: 1px solid #fff;
	color: #434343;
	padding-left: 32px;
}
.list a:hover {
	color: #b20e00;
}


.module_join {
	width: 210px;
	background: url(../image/module_join_bg.gif) repeat-y -210px 0;
}
.module_join_t {
	background: url(../image/module_join_bg.gif) no-repeat;
}
.module_join_b {
	background: url(../image/module_join_bg.gif) no-repeat -420px bottom;
}


.join_form {
	width: 180px;
	margin: 0 auto 12px;
}
.join_form p {
	font-size: 15px;
	color: #666;
	line-height: 18px;
	padding:12px 0;
}
.join_form .text {
	width: 175px;
	height: 25px;
	line-height: 25px;
	background: #fff;
	border: 1px solid #fff;
	border-left:1px solid #c0c0c0;
	border-top: 1px solid #9c9c9c;
}
.join_form .btn {
	height: 25px;
	width: 88px;
	background: url(../image/join_form_btn.png) no-repeat;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	border: none;
	margin: 0 auto;
	display: block;
	margin-top: 6px;
}

.join_list {
	width: 192px;
	margin: 0 auto;
	background: url(../image/join_list_bg.gif) no-repeat;
}
.join_list li {
	border-top: 1px solid #fff;
	padding-left: 62px;
	font-size: 13px;
	color: #434343;
}

.li1 {
	height: 45px;
	line-height: 45px;
}
.li2 {
	height: 38px;
	padding-top: 5px;
}
.li3,.li4 {
	height: 45px;
	padding-top: 5px;
	line-height: 18px;
}


#payment {
	margin: 33px 0 0 18px;
}


.sort {
	height: 20px;
}
.sort dl {
	float: left;
}
.sort dt {
	float: left;
	color: #747474;
	font-weight: bold;
	font-size: 12px;
	padding-right: 2px;
}
.sort dd {
	float: left;
	width: 109px;
	height: 19px;
	position: relative;
	margin-right: 12px;
}
.sort h2 {
	width: 108px;
	height: 17px;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #747474;
	font-weight: normal;
	text-indent: 5px;
	line-height: 17px;
}
.sort a {
	width: 19px;
	height: 19px;
	position: absolute;
	top: 0;
	left: 90px;
	background: url(../image/sort_memu.gif) no-repeat;
	z-index: 2;
}
.sort a:hover {
	background: url(../image/sort_memu.gif) no-repeat -19px 0;
}
.sort ul {
	width: 108px;
	border: 1px solid #ccc;
	background: #fff;
	position: absolute;
	top: 18px;
	left: 0;
	z-index: 1;
	display: none;
}
.sort li {
	font-size: 12px;
	line-height: 20px;
	text-indent: 5px;
}
.sort p {
	float: right;
	color: #747474;
	font-size: 12px;
}
.sort p stong {
	color: #999;
}
.sort p span {
	padding: 0 5px;
}

.color {
	color: #b20e00;
}


.pic_list {
	width: 706px;
}
.pic_list h2,.scroll_list h2 {
	font-size: 18px;
	color: #666;
	padding: 26px 0 14px;
}
.pic_list ul {
	width: 736px;
}
.pic_list li {
	float: left;
	width: 182px;
}
.pic_list a {
	display: block;
	width: 154px;
	height: 114px;
	border: 1px solid #c6c6c6;
	margin-bottom: 6px;
}
.pic_list a:hover {
	border: 1px solid #b20e00;
}
.pic_list h3 {
	font-size: 15px;
	color: #666;
	line-height: 16px;
}
.pic_list p {
	font-size: 13px;
	color: #333;
	line-height: 16px;
	padding-bottom: 45px;
}
.pic_list span {
	color: #b20e00;
}


.page {
	text-align: center;
	border-bottom: 1px solid #cdcdc8;
	padding-bottom: 5px;
}
.page a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 0 6px;
	text-decoration: none;
	color: #b20e00;
}
.page a:hover,.page .active {
	color: #fff;
	background: #b20e00;
}
.page span {
	font-family: '宋体';
}


.scroll_list {}
.scroll_wrap {
	height: 194px;
	background: url(../image/scroll_wrap_bg.png) repeat-x 0 -472px;
}
.scroll_wrap_l {
	height: 194px;
	background: url(../image/scroll_wrap_bg.png) no-repeat 0 -84px;
}
.scroll_wrap_r {
	height: 194px;
	background: url(../image/scroll_wrap_bg.png) no-repeat right -278px;
}


.prev,.next {
	display: block;
	width: 35px;
	height: 42px;
}
.prev {
	background: url(../image/scroll_wrap_bg.png) no-repeat;
	position: relative;
	top: 70px;
}
.next {
	float: right;
	background: url(../image/scroll_wrap_bg.png) no-repeat 0 -42px;
	position: relative;
	top: 28px;
}

.list_wrap {
	width: 615px;
	margin: 0 auto;
}
.list_wrap ul {
	height: 160px;
	position: relative;
	top: -10px;
}
.list_wrap li {
	width: 145px;
	float: left;
	padding: 0 30px;
}
.list_wrap a {
	display: block;
	height: 100px;
	border: 1px solid #c6c6c6;
}
.list_wrap p {
	font-size: 12px;
	line-height: 14px;
	padding-top: 10px;
	color: #600;
	text-align: center;
}

.list_wrap a,.list_wrap p {
	width: 145px;
}


#footer {
	background: url(../image/footer_pp.png) repeat-x 0 bottom;
	height: 304px;
	padding-top: 28px;
}
.footer_bg {
	margin: 0 auto;
	height: 304px;
	width: 960px;
	position: relative;
	background: url(../image/footer_bg.gif) no-repeat;
}
